<a href="https://colab.research.google.com/github/saheninur/pacmann_bfp/blob/master/Mentoring_Max_Week_2_Python_Programming_(Heni_Nur_Safitri).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 - Python Programming
---

Mentoring Session - Job Preparation Program - Pacmann AI

# Task 1. Calculate Average Sessions

**Task Descriptions**

- PacBook is a Social Media platform and they want to know what is their user Average Sessions and Session Duration for each data
- Given a three input for `load_time` (in minutes) and `exit_time` (in minutes)

- To calculate Session Duration, you can use this formula

$$
\text{Session}_\text{duration} = \text{exit}_\text{time} - \text{load}_\text{time}
$$

- To calculate Average Sessions, you can use this formula

$$
\text{Average}_\text{sessions} = \frac{\sum_{n=1}^{3}{\text{Session_duration}_{n}}}{\text{N_SESSIONS}}
$$

- But there are some constraints in this task
  - If the input for `load_time` and `exit_time` is less than zero or negative values, it will print the result **`"Not a Valid Input"`**

**Input - 1**

```py
load_time_1 = 5
exit_time_1 = 10

load_time_2 = 2
exit_time_2 = 15.5

load_time_3 = 1
exit_time_3 = 22.3
```

**Output - 1**

```py
Session 1 Duration (in minutes): 5
Session 2 Duration (in minutes): 13.5
Session 3 Duration (in minutes): 21.3
Average Session Duration (in minutes): 13.27
```

**Input - 2**

```py
load_time_1 = 0
exit_time_1 = 0

load_time_2 = 0
exit_time_2 = 0

load_time_3 = 0
exit_time_3 = 0
```

**Output - 2**

```py
Session 1 Duration (in minutes): 0
Session 2 Duration (in minutes): 0
Session 3 Duration (in minutes): 0
Average Session Duration (in minutes): 0
```

**Input - 3**

```py
load_time_1 = 3
exit_time_1 = 7

load_time_2 = -2
exit_time_2 = 5

load_time_3 = 3
exit_time_3 = 156
```

**Output - 3**

```py
Not a Valid Input
```

In [ ]:
# Write your code here

#input data
load_time_1 = 5
exit_time_1 = 10

load_time_2 = 2
exit_time_2 = 15.5

load_time_3 = 1
exit_time_3 = 22.3

#output
if (load_time_1 < 0) or (exit_time_1 < 0) or (load_time_2 < 0) or (exit_time_2 < 0) or (load_time_3 < 0) or (exit_time_3 < 0) :
    print("Not a Valid Input")
else:
    session_duration_1 = exit_time_1 - load_time_1
    print(f"Session 1 Duration (in minutes):", session_duration_1)

    session_duration_2 = exit_time_2 - load_time_2
    print(f"Session 1 Duration (in minutes):", session_duration_2)

    session_duration_3 = exit_time_3 - load_time_3
    print(f"Session 1 Duration (in minutes):", session_duration_3)

    average_session = round((session_duration_1 + session_duration_2 + session_duration_3)/3, 2) #round 2 angka di belakang koma
    print(f"Average Session Duration (in minutes):", average_session)

Session 1 Duration (in minutes): 5
Session 1 Duration (in minutes): 13.5
Session 1 Duration (in minutes): 21.3
Average Session Duration (in minutes): 13.27

# Task 2. Temperature Converter Calculator

Category: Medium

---

**Task Descriptions**
- There are several unit of temperatures use by people around the world.
  - For general people: Celcius or Fahrenheit
  - For academic purposes: Kelvin
- Your task is to create a temperature converter calculator.
  - Celcius to Kelvin, vice versa
  - Fahrenheit to Kelvin, vice versa
  - Celcius to Fahrenheit, vice versa
- **Addition**: Find how to convert the temperature by yourself.

**Input**

```python
temp = 20
from_unit = 'Celcius'
to_unit = 'Fahrenheit'
```

**Output**
```
20 Celcius is equal to 68 Fahrenheit
```

**Questions 1**

---
Draw your code flowchart

*Insert picture of your flowchart*

![picture](https://drive.google.com/uc?id=1ANOWGUcfN9IH85ICSZOthTnob1wnIKr6)

**Questions 2**

---
Create your code based on the flowchart

In [ ]:
# Write your code here

#input data
temp = 20
from_unit = 'Celcius'
to_unit = 'Fahrenheit'



#output
if from_unit == 'Celcius':
    if to_unit == 'Fahrenheit':
        celcius_to_fahrenheit = round(((9/5 * temp) + 32),2) #konversi celcius to fahrenheit
        print(f"{temp} {from_unit} is equal to {celcius_to_fahrenheit} {to_unit}")

    elif to_unit == 'Kelvin':
        celcius_to_kelvin = round((temp + 273.15),2) #konversi celcius to kelvin
        print(f"{temp} {from_unit} is equal to {celcius_to_kelvin} {to_unit}")

elif from_unit == 'Fahrenheit':
    if to_unit == 'Celcius':
        fahrenheit_to_celcius = round(((temp -32) * (5/9)),2) #konversi fahrenheit to celcius
        print(f"{temp} {from_unit} is equal to {fahrenheit_to_celcius} {to_unit}")

    elif to_unit == 'Kelvin':
        fahrenheit_to_kelvin = round(((temp + 459.67) * (5/9)),2) #konversi fahrenheit to kelvin
        print(f"{temp} {from_unit} is equal to {fahrenheit_to_kelvin} {to_unit}")

elif from_unit == 'Kelvin':
    if to_unit == 'Celcius':
        kelvin_to_celcius = round((temp - 273.15),2)  #konversi kelvin to celcius
        print(f"{temp} {from_unit} is equal to {kelvin_to_celcius} {to_unit}")

    elif to_unit == 'Fahrenheit':
        kelvin_to_fahrenheit = round(((temp * 9/5) - 459.67),2) #konversi kelvin to fahrenheit
        print(f"{temp} {from_unit} is equal to {kelvin_to_fahrenheit} {to_unit}")

else:
      pass

20 Celcius is equal to 68.0 Fahrenheit

# Task 3. Extract NIK (Nomor Induk Kependudukan) Data

Category: Hard

---

**Task Descriptions**
- NIK is not some random numbers. You can extract information from the NIK.
  - The first six digits are a province, regency, and district code
  - The next six digits are the date of birth; DD-MM-YY, respectively
    - For men, the date of birth ranged between 01-31
    - For women, the date of birth is added with 40, hence ranged between 41-71.
  - The last 4 digits are a serial number of NIK issuance.


- Given **two** NIK, your tasks are
  1. Extract the date of birth of each NIK
  2. Extract their gender.
  3. Extract whether they have similar gender.
  4. Extract whether they have similar month of birth.

**Input**

```python
nik_1 = 1571011709860003
nik_2 = 2404075109910009
```

**Output**
```
Date of Birth
- NIK 1 : 17-09-86
- NIK 2 : 11-09-91

Gender
- NIK 1 : Male
- NIK 2 : Female

Do they have similar gender?
No

Do they have similar month of birth?
Yes, it is on September
```

**Questions 1**

---
Draw your code flowchart

![picture](https://drive.google.com/uc?id=1Lf7IbnjjWyAb5UMn7vsfh4lZHah3JI-C)

**Questions 2**

---
Create your code based on the flowchart

In [70]:
# Write your code here
#input
nik_1 = 1571011709860003
nik_2 = 2404075109910009

#convert to string untuk dapat data ke [index]
nik_1 = str(nik_1)
nik_2 = str(nik_2)

#initial
tanggal_1 =int(nik_1[6:8])
bulan_1 = nik_1[8:10]
tahun_1 = nik_1[10:12]
gender_1 = 'Male'

tanggal_2 = int(nik_2[6:8])
bulan_2 = nik_2[8:10]
tahun_2 = nik_2[10:12]
gender_2 = 'Male'


#cek tanggal lahir dan gender
if (int(nik_1[6:8]) > 40):
  tanggal_1 = int(nik_1[6:8]) - 40
  gender_1 = 'Female'
elif (int(nik_2[6:8]) > 40):
  tanggal_2 = int(nik_2[6:8]) - 40
  gender_2 = 'Female'
else:
  pass

#cek bulan lahir
if bulan_1 == bulan_2:
  cek_bulan = 'Yes'
  if bulan_1 == '01':
    nama_bulan = 'January'
  elif bulan_1 == '02':
    nama_bulan = 'Febraury'
  elif bulan_1 == '03':
    nama_bulan = 'March'
  elif bulan_1 == '04':
    nama_bulan = 'April'
  elif bulan_1 == '05':
    nama_bulan = 'May'
  elif bulan_1 == '06':
    nama_bulan = 'June'
  elif bulan_1 == '07':
    nama_bulan = 'July'
  elif bulan_1 == '08':
    nama_bulan = 'August'
  elif bulan_1 == '09':
    nama_bulan = 'September'
  elif bulan_1 == '10':
    nama_bulan = 'October'
  elif bulan_1 == '11':
    nama_bulan = 'November'
  elif bulan_1 == '12':
    nama_bulan = 'December'
else:
  cek_bulan = 'No'

#output
print(
  f'Date of Birth\n'
  f'- NIK 1 : {tanggal_1}-{bulan_1}-{tahun_1}\n'
  f'- NIK 2 : {tanggal_2}-{bulan_2}-{tahun_2}\n'

  f'\nGender\n'
  f'- NIK 1 : {gender_1}\n'
  f'- NIK 2 : {gender_2}\n'

  f'\nDo they have similar gender?\n'
  f'{cek_gender}\n'

  f'\nDo they have similar month of birth?\n'
  f'{cek_bulan} it is on {nama_bulan}'
)

Date of Birth
- NIK 1 : 17-09-86
- NIK 2 : 11-09-91

Gender
- NIK 1 : Male
- NIK 2 : Female

Do they have similar gender?
No

Do they have similar month of birth?
Yes it is on September

# Task 4. Calculate Pajak Penghasilan (Simplified)

Category: Hard

---

**Task Descriptions**
- According to Pemotongan Pajak Penghasilan PPh Pasal 21 Tahun 2016, we can calculate our income tax as (we'll write in Bahasa Indonesia for avoiding missinterpretation)

- **Penghasilan tidak kena pajak (PTKP)**
  - Penghasilan Rp 54.000.000 setahun untuk wajib pajak.
  - Tambahan Rp 4.500.000 diberikan jika wajib pajak menikah.
  - Tambahan Rp 4.500.000 lagi jika punya 1 orang anak atau Rp 9.000.000 jika punya 2 orang anak. Apabila jumlah tanggungan lebih dari itu, maka tetap dihitung 3 orang tanggungan.

- **Tarif Pajak Penghasilan**
  - 5% untuk penghasilan kena pajak (PKP) sampai dengan 60 Juta
  - 15% untuk PKP di atas 60 juta sampai dengan 250 Juta
  - 25% untuk PKP di atas 250 juta sampai dengan 500 juta
  - 30% untuk PKP di atas 500 juta sampai dengan 5 miliar
  - 35% untuk PKP di atas 5 miliar

- Your task is calculate the income tax given
  - Monthly income
  - Marital status
  - The number of dependents (jumlah tanggungan)

**Input - 1**

```python
monthly_income = 4750000
marital_status = 'single'
n_dependents = 0
```

**Output - 1**
```
Penghasilan neto setahun:
57000000

PTKP TK/0:
-54000000

Penghasilan Kena Pajak:
3000000

PPh 21 terutang setahun:
150000
```

**Input - 2**

```python
monthly_income = 15000000
marital_status = 'married'
n_dependents = 3
```

**Output - 2**
```
Penghasilan neto setahun:
180000000

PTKP K/3:
-72000000

Penghasilan Kena Pajak:
108000000

PPh 21 terutang setahun:
16200000
```

**Questions 1**

---
Draw your code flowchart

![picture](https://drive.google.com/uc?id=1lwD2-bg0y8HDmcPO4tpoX14Uzby512nk)

**Questions 2**

---
Create your code based on the flowchart

In [64]:
# Write your code here
monthly_income = 15000000
marital_status = 'married'
n_dependents = 3

#Penghasilan tidak kena pajak (PTKP)
ptkp = 54_000_000
annual_income = (monthly_income * 12)

#cek ptkp berdasarkan status pernikahann
if marital_status == 'married':
  marital_status = 'K'
  ptkp = ptkp + 4_500_000
elif marital_status == 'single':
  marital_status = 'TK'
else:
  pass

#cek ptkp berdasarkan jumlah tunggakan
if n_dependents > 0:
  if n_dependents <= 3:
    ptkp = ptkp + (4_500_000 * n_dependents)
  else:
    ptkp = ptkp + (4_500_000 * 3)
else:
  pass

#penghasilan kena pajak (PKP)
pkp = annual_income - ptkp

#cek pajak
if pkp > 0:
  if pkp <= 60_000_000:
    pajak = (0.5 * pkp)
  elif pkp > 60_000_000 and pkp <= 250_000_000:
    pajak = (0.15 * pkp)
  elif pkp > 250_000_000 and pkp <= 500_000_000:
    pajak = (0.25 * pkp)
  elif pkp > 500_000_000 and pkp <= 5_000_000_000:
    pajak = (0.30 * pkp)
  elif pkp > 5_000_000_000:
    pajak = (0.35 * pkp)
else:
  pkp = 0
  pajak = 0


#output
print (
    f"Penghasilan neto setahun:\n"
    f"{annual_income}\n"

    f"\nPTKP {marital_status}/{n_dependents}:\n"
    f"-{ptkp}\n"

    f"\nPenghasilan Kena Pajak:\n"
    f"{pkp}\n"

    f"\nPPh 21 terutang setahun:\n"
    f"{round(pajak)}"
)

Penghasilan neto setahun:
180000000

PTKP K/3:
-72000000

Penghasilan Kena Pajak:
108000000

PPh 21 terutang setahun:
16200000